*{
  box-sizing: border-box;
}
// #oo4a76, a9daeb
.boxes {
  padding: 0;
}
.small-buttons {
    margin: 0;
    padding: 0;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}
.boxes {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  max-width: 100%;
  position: sticky;
  top: 0;
}
.d-sm-flex {
  display: flex !important;
}
.first-button {
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    // background: #d291bc;
    // margin-top: -50px;
    box-shadow: 0px 10px 32px -19px rgb(0 0 0 / 15%);
    background-color: #982630;
    background-image: linear-gradient(315deg, #982630 0%, #9b444a 54%, #9c3038 100%);
    // background-color: #a40606;
    // background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    // background-color: #fce043;
    // background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    // background-color: #d3d3d3;
    // background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);
    // background-color: #ffcb43;
    // background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
    // background-color: #ffcfdf;
    // background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    // background-color: #ffe190;
    // background-image: linear-gradient(316deg, #ffe190 0%, #fa9e8c 74%);



}
.savebutton {
  background: #982630;
  // background: #6d6c6c;
  // background: #ffcb43;
  // background: #6ccac9;
  // background: #fa9e8c;
}
.first-button .button1 {
    // background: white;
    // border: 1px solid blue;
    // outline: none;
    // padding: 7px 10px;
    // border-radius: 10px;
    // position: relative;
    // top: -20px;
    // text-align: center;
    width: 20%;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    padding: 10px 0;
    font-family: "Rochester", cursive;
    -webkit-box-align: center !important;
    align-items: center !important;
    // display: flex !important;
    
}
.move {
  // padding: 10px 0;
  padding-top: 33px !important;
}
// .background-image1 {
//     // background-image: url('../../assets/Web_page_V02.jpg');
//     width: 100%;
//     height: 500px;
//     // background-repeat: no-repeat;
// }
.groom {
  height: 300px;
  width: 210px;
}
.image1 {
    width: 100%;
    height: auto;
  }

  .time2 {
    font-family: Rochester, cursive;
    font-size: 40px;
  }
  .savedate {
    margin-top: 10px;
    display: block;
  }


@media (min-width: 320px) and (max-width: 360px) {
  // .d-sm-flex {
  //   display: inline-block !important;
  // }
  .first-button {
    display: inline;
  }
  .button1 {
    width: 100% !important;
    display: block;
    font-size: 15px !important;

  }
  .time2 {
    font-size: 15px;
    margin-bottom: 0;
  }
  .savedate {
    margin-top: -5px;
  }
  .move {
    padding-left: 7px !important;
    padding-top: 19px !important;
  }
  .days {
    display: block;
    // padding-left: 5px !important;
  }
  .hours {
    display: block;
    // padding-left: 5px !important;
  }
  .minutes {
    display: block;
  }
  .seconds {
    display: block;
  }
  .move {
    padding-left: 7px !important;
    padding-top: 15px !important;
  }
}
@media (min-width: 361px) and (max-width: 410px) {
  // .d-sm-flex {
  //   display: inline-block !important;
  // }
  .first-button {
    display: inline;
  }
  .button1 {
    width: 100% !important;
    display: block;
    font-size: 17px !important;

  }
  .time2 {
    font-size: 17px;
    margin-bottom: 0;
  }
  .savedate {
    margin-top: -5px;
  }
  .move {
    padding-left: 7px !important;
    padding-top: 15px !important;
  }
  .hours {
    padding-left: 1px !important;
  }
  .days {
    display: block;
    // padding-left: 5px !important;
  }
  .hours {
    display: block;
    // padding-left: 5px !important;
  }
  .minutes {
    display: block;
  }
  .seconds {
    display: block;
  }
}
@media (min-width: 411px) and (max-width: 460px) {
  // .d-sm-flex {
  //   display: inline-block !important;
  // }
  .first-button {
    display: inline;
  }
  .button1 {
    width: 100% !important;
    display: block;
    font-size: 18px !important;

  }
  .time2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .savedate {
    margin-top: -5px;
  }
  .days {
    display: block;
    // padding-left: 5px !important;
  }
  .hours {
    display: block;
    // padding-left: 5px !important;
  }
  .minutes {
    display: block;
  }
  .seconds {
    display: block;
  }
  .move {
    padding-left: 7px !important;
    padding-top: 15px !important;
  }
  @media (min-width: 419px) and (max-width: 443px) {
    .days {
      display: block;
      // padding-left: 5px !important;
    }
    .hours {
      display: block;
      // padding-left: 5px !important;
    }
    .hoursleft {
      margin-left: -7px;
    }
  }
  @media (min-width: 444px) and (max-width: 460px) {
    .days {
      display: block;
      // padding-left: 5px !important;
    }
    .hours {
      display: block;
      // padding-left: 6px !important;
    }
    .hoursleft {
      margin-left: -13px;
    }
  }
}
@media (min-width: 461px) and (max-width: 540px) {
  // .d-sm-flex {
  //   display: inline-block !important;
  // }
  .first-button {
    display: inline;
  }
  .button1 {
    width: 100% !important;
    display: block;
    font-size: 20px !important;

  }
  .time2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .savedate {
    margin-top: -5px;
  }
  .days {
    display: block;
    // padding-left: 5px !important;
  }
  .hours {
    display: block;
    // padding-left: 5px !important;
  }
  .minutes {
    display: block;
  }
  .seconds {
    display: block;
  }
  .move {
    padding-left: 7px !important;
    padding-top: 15px !important;
  }
  @media (min-width: 501px) and (max-width: 540px) {
    .button1 {
      font-size: 25px;
    }
    .time2 {
      font-size: 25px;
    }
    .hoursleft {
      margin-left: -7px;
    }
    .minutes {
      display: block;
    }
    .seconds {
      display: block;
    }
    .days {
      display: block;
      // padding-left: 5px !important;
    }
    .hours {
      display: block;
      // padding-left: 5px !important;
    }
  }
  // @media (min-width: 444px) and (max-width: 460px) {
  //   .days {
  //     display: block;
  //     // padding-left: 5px !important;
  //   }
  //   .hours {
  //     display: block;
  //     // padding-left: 6px !important;
  //   }
  //   .hoursleft {
  //     margin-left: -13px;
  //   }
  // }
}
@media (min-width: 541px) and (max-width: 700px) {
  // .d-sm-flex {
  //   display: inline-block !important;
  // }
  .first-button {
    display: inline;
  }
  .button1 {
    width: 100% !important;
    display: block;
    font-size: 25px !important;

  }
  .time2 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .savedate {
    margin-top: -5px;
  }
  .days {
    display: block;
    // padding-left: 5px !important;
  }
  .hours {
    display: block;
    // padding-left: 5px !important;
  }
  .move {
    padding-left: 7px !important;
    padding-top: 15px !important;
  }
  .minutes {
    display: block;
  }
  .seconds {
    display: block;
  }


}

@media (min-width: 701px) and (max-width: 767px) {
  .first-button {
    display: inline;
  }
  .button1 {
    width: 100% !important;
    display: block;
    font-size: 25px !important;

  }
  .time2 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .savedate {
    margin-top: -5px;
  }
  .move {
    // padding-left: 7px !important;
    padding-top: 15px !important;
  }
  .minutes {
    margin-left: -7px;
  }
  .seconds {
    margin-left: -7px;
  }
}
@media (min-width: 768px) and (max-width: 860px) {
  .button1 {
    font-size: 25px;
  }
  .move {
    font-size: 25px;
  }
}


























$white: #F9F3E4;
$pink: #F29DAB;
$rose: #DD899E;
$tan: #F2CDC1;
$taupe: #D0B2AF;

@import url('https://fonts.googleapis.com/css?family=Questrial');

$font: 'Questrial', sans-serif;

// html {
//   min-height: 100%;
// }

// body {
//   background:
//     linear-gradient(217deg, rgba($pink, .9), rgba($pink,0) 50%),
//     linear-gradient(107deg, rgba($rose,.9), rgba($rose,0) 70%),
//     linear-gradient(336deg, rgba($tan,.9), rgba($tan,0) 60%);
// }

.box {
  width: 100%;  
  // margin: 10% auto;
  position: relative;
}

#card-container {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  z-index: 1;
  // float: left;
  perspective: 1000px;
  margin-top: 10%;
}

img {
  width: 200px;
  height: 200px;
}

#card {
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
}

#card {
  &:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);

  }
}
.clickimage {
  text-align: center;
  display: block;
}
// .clickoutimage {
//   text-align: center;
//   display: none;
// }

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  // opacity: .7;
  background: $white;

}
.back1 {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
}



h1, p {
  font-family: $font;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 1.2em;
  padding-top: 15px;
  color: $rose;
}

p {
  font-size: .5em;
}

.date {
  color: $taupe;
}


