<div class="card">
    <!-- <div class=" col-12 main-image">

    </div> -->
    <div class="small-buttons row col-12">
        <div class="background-image1">
            <img src="../../assets/Web_page1.jpg" class="image1">
        </div>
    </div>
    <div class="col-md-12 boxes" *ngIf="!showMessage">
      <div class="first-button d-sm-flex">
        <div class="button1 savebutton">
          <h3 class="w-100 time2">
            Save <span class="savedate">The Day</span>
          </h3>
        </div>
        <div class="button1 move ">
          {{days}} <span class="days">Days</span>
        </div>
        <div class="button1 move hoursleft">
          {{hours}} <span class="hours">Hours</span>
        </div>
        <div class="button1 move">
          {{minutes}} <span class="minutes">Minutes</span>
        </div>
        <div class="button1 move">
          {{seconds}} <span class="seconds">Seconds</span>
        </div>
        
      </div>
    </div>
    <div class="col-md-12 boxes" *ngIf="showMessage">
      They got Engaged....
    </div>
    <!-- <div style="margin-top: 1000px;"></div> -->
    <div class="col-12 row groomnames">
      <div class="box col-lg-6 col-md-6 col-sm-12 col-xs-12 ramraju">
        <div id="card-container">
          <div id="card">
            <div class="front face">
              <img class="groom" src="../../assets/groom_2.jpg">
              <p class="clickimage" >Click the image</p>
            </div>
            <div class="back face">
              <h1>RamRaju</h1>
              <p class="artist">Software</p>
              <p class="date">2015</p>
            </div>
            
          </div>
        </div>
    
      </div>
      <div class="box col-lg-6 col-md-6 col-sm-12 col-xs-12 supriya">
      <div id="card-container">
        <div id="card">
          <div class="front face">
            <img class="groom" src="../../assets/groom_2.jpg">
            <p class="clickimage" >Click the image</p>
          </div>
          <div class="back face">
            <h1>RamRaju</h1>
            <p class="artist">Software</p>
            <p class="date">2015</p>
          </div>
          
        </div>
      </div>
    
      </div>
    </div>
    <div class="col-12 groomnames1">
      <img class="pelliphoto" src="../../assets/Time_line.jpg">
    </div>
    <!-- <div class="background-image1" style="text-align: center;">
      <img src="../../assets/shiv1.jpeg" class="image1" style="height: 300px;width: 300px;">
      <img src="../../assets/shiva2.jpeg" class="image1" style="height: 300px;width: 300px;">
      <img src="../../assets/shiva3.jpeg" class="image1" style="height: 300px;width: 300px;">
      <img src="../../assets/shiva4.jpeg" class="image1" style="height: 300px;width: 300px;">
  </div> -->
</div>



<!-- <img class="groom" src="../../assets/groom_2.jpg"> -->