<div class="card">
    <div class=" col-12 main-image">

    </div>
    <div class="small-buttons row col-12">
        <div class="background-image1">
            <img src="../../assets/Web_page1.jpg" class="image1">
        </div>

          <div class="col-md-12 boxes">
            <div class="first-button d-sm-flex">
              <div class="button1">
                <h3 class="w-100 time2" style="font-family: Rochester, cursive;font-size: 40px;">
                  Save <span style="margin-top: 10px;display: block;">the Day</span>
                </h3>
              </div>
              <div class="button1 move">
                {{days}} <span>Days</span>
              </div>
              <div class="button1 move">
                {{hours}} <span>Hours</span>
              </div>
              <div class="button1 move">
                {{minutes}} <span>Minutes</span>
              </div>
              <div class="button1 move">
                {{seconds}} <span>Seconds</span>
              </div>
              
            </div>
          </div>
          <div style="margin-top: 1500px;">
            lkdsjfsa
          </div>
          <!-- <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12 boxes">
                <div  class="timer d-sm-flex">
                  <div class="time time-2 d-flex align-items-center text-center">
                    <h3 class="w-100">
                      Save <br> the day
                    </h3>
                  </div>
                  <div class="time align-items-center">
                    {{days}} <span>Days</span>
                  </div>
                  <div class="time">
                    {{hours}} <span>Hours</span>
                  </div>
                  <div class="time">
                    {{minutes}} <span>Minutes</span>
                  </div>
                  <div class="time">
                    {{seconds}} <span>Seconds</span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        
    </div>
</div>

<!-- <div class="box">
    <div id="card-container">
      <div id="card">
        <div class="front face">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c4/Bouquet_EP_cover_art.jpg/220px-Bouquet_EP_cover_art.jpg"/>
        </div>
        <div class="back face">
          <h1>Bouquet</h1>
          <p class="artist">The Chainsmokers</p>
          <p class="date">2015</p>
        </div>
      </div>
    </div>

  </div> -->
